Repository celeste-library/celeste-speedrun-library: changes, and which CircleCI parameters are due for each by the changed paths.
All: api-change, frontend-change, backend-change, python-deps-change

Fix install script permissions for server deploy
  .circleci/continue_config.yml
Due: none

getting there
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/show_params.yml
Due: none

Update data reload to work with deploy
  server/config.py
  server/config/__init__.py
  server/config/dev.py
  server/config/prod.py
  server/database/loader.py
  server/install.sh
  server/util.py
Due: backend-change

Trigger venv reload
  server/requirements.txt
Due: backend-change, python-deps-change

Revert "Trigger venv reload"
  server/requirements.txt
Due: backend-change, python-deps-change

Only load scraped strats
  server/database/loader.py
  server/util.py
Due: backend-change

Only show the strat description and media
  client/src/components/strat-overview/StratOverview.css
  client/src/components/strat-overview/StratOverview.tsx
Due: frontend-change

Add show strat and sources, clean up strat UI
  api/api.yaml
  client/src/App.tsx
  client/src/components/strat-content/StratContent.css
  client/src/components/strat-content/StratContent.tsx
  client/src/components/strat-overview/StratDetails.tsx
  client/src/components/strat-overview/StratMedia.tsx
  client/src/components/strat-overview/StratOverview.css
  client/src/components/strat-overview/StratOverview.tsx
  client/src/components/strat-overview/StratSources.tsx
  client/src/discord_icon_black.svg
  client/src/discord_icon_white.svg
  server/api_resource.py
  server/database/loader.py
  server/database/repository.py
  server/database/tables.py
  server/service.py
Due: api-change, frontend-change, backend-change

Fix install script
  server/install.sh
Due: backend-change

Fix deploy for API
  .circleci/continue_config.yml
  deployment.md
  server/install.sh
Due: backend-change

Trigger redeploy
  server/temp
Due: backend-change

Path conditions:
  api-change: any of: api/.*
  frontend-change: any of: client/.*
  backend-change: any of: server/.*
  python-deps-change: any of: server/requirements.txt
